.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    min-height:500px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-inverse {
     background: white;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: hotpink;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
     color: hotpink;
 
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#000000;
}

a:hover svg {
    fill:hotpink;
}

svg:not(:root) {
    overflow: hidden;
}

a svg {
    -webkit-transition: 0.3s ease, all;
    transition: 0.3s ease, all;
}

a svg{
      margin-left: 45%;
}

.navbar a{
  font-family: "canada-type-gibson", sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .06em;
    border-bottom: none;
    display: inline-block;
    padding-left: 35px;
}




.wishrupt .navbar-inverse .navbar-nav > li > a:hover,
.wishrupt .navbar-inverse .navbar-header   a:hover{
  color: hotpink;
}

.wishrupt .navbar-inverse .navbar-nav > li > a,
.wishrupt .navbar-inverse .navbar-header   a{
  color :rgba(10, 10, 10, 0.74);
}

.wishrupt{
  
}
.wishrupt .navbar-inverse .navbar-nav span{
padding : 5px;
}

.wishrupt .navbar-inverse {
  border-color:white; 
}

.wishrupt .home{
      margin-top: 10px;
      padding: 5px;
}

.main-container h1{
      visibility: visible;
    animation-name: fadeInDown;
    font-size: 40px;
    line-height: 55px;
    /* margin: 0 0 50px 0; */
    max-width: 90%;
    font-family: "canada-type-gibson",sans-serif;
    font-weight: 400;
    margin-top: 10%;
}

.main-container h4{
          visibility: visible;
    animation-name: fadeInDown;
    font-size: 25px;
    line-height: 35px;
    /* margin: 0 0 50px 0; */
    max-width: 90%;
    font-family: "canada-type-gibson",sans-serif;
    font-weight: 300;
    margin-top: 40px;
}

.wishrupt .navbar-inverse .navbar-header  button{
    background-color: hotpink;
}

.sector .consulting{
    background-color: rgba(255, 255, 0, 0.5);
    padding: 108px;
    left: 15px;
}

.sector .health{
       left: 73px;
}

.sector .education{
        left: 73px;
}

@media (max-width: 420px){

  .main-container h1{
      visibility: visible;
    animation-name: fadeInDown;
    font-size: 30px;
    line-height: 36px;
    /* margin: 0 0 50px 0; */
    max-width: 90%;
    font-family: "canada-type-gibson",sans-serif;
    font-weight: 400;
    margin-top: 25%;
}

.main-container h4{
          visibility: visible;
    animation-name: fadeInDown;
    font-size: 20px;
    line-height: 25px;
    /* margin: 0 0 50px 0; */
    max-width: 90%;
    font-family: "canada-type-gibson",sans-serif;
    font-weight: 300;
    margin-top: 20px;
}
}
