<div class="row row-content main-container top-row">
	<div class="col-xs-12">
		<p>
			No matter in what line of business you are Disruption is inevitable. At Wishrupt we always “Wish for Such Disruptions”. We see these disruptions as an opportunity that enhances our capabilities, creates new markets and allows us to solve newer challenges. Wishruptors believe disruptive technologies like Machine Learning, Artificial Intelligence, Customer Mobility and Internet of Things are creating enormous new opportunities. These disruptive technologies are already bringing science fictions to reality. We can see things like Self-driving cars, cognitive machines, and 3D printing in action. <br>

We are a team of dedicated individuals who wish to be at the forefront of this pervasive wave of disruption. This wish combined with our team’s expertise in areas of cloud computing, data analytics, mobility and AI equips us with abilities to create unique solutions. We pick “Hard Problems” in areas such as Healthcare, Agriculture and Learning and our solutions focus on developing geographies. We follow an approach that can be defined by “Understand-Build-Deploy-Learn-Rebuild” life cycle. Most of our solutions are incremental in nature, that strategically take advantage of disruptive technologies.
<br>
We acknowledge that these problems cannot be solved by one organization. That’s why we are always open for collaboration and consulting opportunities with like-minded individuals and organizations. Please feel free to reach out to us if you are exploring a disruptive technology and believe that these disruptive technologies can help your value proposition.
		</p>
	</div>
</div>