<div class="row main-container sector top-row">
	<div class="col-md-4 col-sm-4 col-xs-12 consulting service1">
		<h3><strong>Healthcare</strong></h3>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12 agri">
		<a href="#">
			<img src="/images/agriculture.jpg" />
		</a>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12 consulting service2">
		<h3><strong>Learning</strong></h3>
	</div>
</div>
<div class="row  main-container sector bottom-row">
	<div class="col-md-4 col-sm-4 col-xs-12 health">
		<a href="#">
			<img src="/images/health.jpg" />
		</a>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12 consulting service3">
		<h3><strong>Agriculture</strong></h3>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12 education">
		<a href="#">
			<img src="/images/education.jpg" />
		</a>
	</div>
</div>