<div class="row main-container sector">
	<div class="col-md-4 col-xs-12 consulting">
		<h3><strong>Consulting Services</strong></h3>
	</div>
	<div class="col-md-4 col-xs-12">
		<a href="#">
			<img src="/images/agri.jpg" />
		</a>
	</div>
	<div class="col-md-4 col-xs-12 consulting ">
		<h3><strong>Consulting Services</strong></h3>
	</div>
</div>
<div class="row  main-container sector">
	<div class="col-md-4 col-xs-12">
		<a href="#">
			<img src="/images/health.jpg" />
		</a>
	</div>
	<div class="col-md-4 col-xs-12 consulting ">
		<h3><strong>Consulting Services</strong></h3>
	</div>
	<div class="col-md-4 col-xs-12">
		<a href="#">
			<img src="/images/education.jpg" />
		</a>
	</div>
</div>