<div class="row row-content top-row">
  <div class="col-xs-12 col-sm-3 col-sm-push-9">
    <p style="padding:20px;"></p>
    <h3 align="center">Name</h3>
  </div>
  <div class="media col-xs-12 col-sm-9 col-sm-pull-3">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object img-thumbnail" src="images/team.jpg" alt="Uthappizza">
      </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading"> <span class="label label-danger">Data Expert</span> Machine Learning</h2>
      <p>Description about work</p>
      <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
    </div>
  </div>
</div>
<div class="row row-content top-row">
  <div class="col-xs-12 col-sm-3">
    <p style="padding:20px;"></p>
    <h3 align="center">Name 2</h3>
  </div>
  <div class="media col-xs-12 col-sm-9">
    <div class="media-body">
      <h2 class="media-heading"> <span class="label label-danger">UI Expert</span> MEAN Stack</h2>
      <p>Description about work</p>
      <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
    </div>
    <div class="media-right media-middle">
      <a href="#">
        <img class="media-object img-thumbnail" src="images/team.jpg" alt="Uthappizza">
      </a>
    </div>
  </div>
</div>
<div class="row row-content top-row">
  <div class="col-xs-12 col-sm-3 col-sm-push-9">
    <p style="padding:20px;"></p>
    <h3 align="center">Name</h3>
  </div>
  <div class="media col-xs-12 col-sm-9 col-sm-pull-3">
    <div class="media-left media-middle">
      <a href="#">
        <img class="media-object img-thumbnail" src="images/team.jpg" alt="Uthappizza">
      </a>
    </div>
    <div class="media-body">
      <h2 class="media-heading"> <span class="label label-danger">Business Expert</span> Healthcare</h2>
      <p>Description about work</p>
      <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
    </div>
  </div>
</div>
